.default {
    position: relative;
    padding: 0px 25px;
}
.m-b20 {
    margin-bottom: 20px;
}
.p-t15 {
    padding-top: 15px;
}
// .m-rl8{
//     margin: 0 8px;
// }
.w-75{
    width: 75px;
}
.el-pagination {
    margin-top: 25px;
}
.error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
  }
.el-select .el-input {
    width: 100px;
}
.input-with-select .el-input-group__prepend {
    background-color: #fff;
}